@import "variables.scss";

.link-style {
    text-decoration: none;
}

.pixel-button {
    height: 8.8vh;
    display: inline-block;
    margin: 0 0.8vh;
    text-transform: uppercase;

    &.primary {
        .body {
            background-color: $color-cyan;
            box-shadow: 0.4vh 0.4vh 0 0 $color-fucsia;
        }
    }

    &.secondary {
        .body {
            background-color: $color-bone;
            box-shadow: 0.4vh 0.4vh 0 0 $color-cyan;

            &::before {
                background-color: $color-bone;
            }
            &::after {
                background-color: $color-bone;
                box-shadow: 0.4vh 0.4vh 0 0 $color-cyan;
            }
        }
    }

    &.small {
        .body {
            height: 5vh;
            .text {
                font-size: 3vh;
                line-height: 5vh;
            }
            &::after {
                height: 4vh;
            }
            &::before {
                height: 4vh;
            }
        }
    }

    .body {
        height: 8.8vh;
        position: relative;

        .text {
            text-align: center;
            vertical-align: middle;
            font-size: 7vh;
            font-family: $primary-font;
            line-height: 8.8vh;
            color: $color-charcoal;
            margin: 0 1vh;
        }
        &::after {
            position: absolute;
            right: -0.4vh;
            top: 0.4vh;
            width: 0.4vh;
            height: 8vh;
            content: "";
            background-color: $color-cyan;
            box-shadow: 0.4vh 0.4vh 0 0 $color-fucsia;
        }

        &::before {
            position: absolute;
            left: -0.4vh;
            top: 0.4vh;
            width: 0.4vh;
            height: 8vh;
            content: "";
            background-color: $color-cyan;
        }

        &:active {
            box-shadow: none;
            color: $color-fucsia;
            transform: translate(0.4vh, 0.4vh);
            &::after {
                box-shadow: none;
            }
            .text {
                color: $color-fucsia;
            }
        }
    }
}
