@import 'variables.scss';

.pixel-button {
    height: 88px;
}

.body {
    height: 88px;
    width: 186px;
    background-color:$color-cyan;
    position: relative;  
    box-shadow:4px 4px 0 0px $color-fucsia;
    margin-right: 4px;
    margin-bottom: 4px;
    
    .text{
        text-align: center;
        vertical-align: middle;
        font-size: 70px;
        font-family: Pixeboy;
        line-height: 88px;
        color: #222323;
    }
    &::after{
        position: absolute;
        right: -4px;
        top: 4px;
        width: 4px;
        height: 80px;
        content: "";
        background-color:$color-cyan; 
        box-shadow:4px 4px 0 0px $color-fucsia  ;
    }


    &::before{
        position: absolute;
        left: -4px;
        top: 4px;
        width: 4px;
        height: 80px;
        content: "";
        background-color:$color-cyan;
    }

    &:active{
        box-shadow:none;
        margin-left: 4px;
        margin-top: 4px;
        color:$color-fucsia; 
        margin-right: 0px;
        margin-bottom: 0px;    
        &::after{
          box-shadow:none ;
        }
        .text{
            color:$color-fucsia;
        }
    }
}


.linkStyle{
    text-decoration: none;
    background-color: $color-cyan;
}



