@import "variables.scss";
.cardLink {
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        transform: scale(1.1);
        transition: transform 0.25s;
    }

    .cardFull {
        border-radius: 0px;
        border: none;
        width: 100%;
        height: 500px;
        background-color: $color-green;
        box-shadow: 6px 6px 0px 0px $color-bone;

        .cardImageContainer {
            height: 77%;
            width: 100%;
        }
        .cardImage {
            margin: 10px;
            height: calc(100% - 20px);
            object-fit: cover;
            width: calc(100% - 20px);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .cardBody {
            flex-direction: column;
            display: flex;
            font-family: $primary-font;
            color: $color-bone;
            padding: 0px;
            height: 23%;
            .cardYear {
                font-family: $secondary-font;
            }
            .cardArtist {
                text-align: center;
                font-family: $secondary-font;
                font-size: 20px;
            }
            .cardTitle {
                text-align: center;
                font-size: 25px;
                padding: 0 7px 2px 7px;
                overflow: hidden;
                text-overflow: quote($string: "");
            }
        }
    }
}
