@import "variables.scss";

.collectionPageContainer {
    font-family: $primary-font;
    background-color: $color-charcoal;
    min-height: 100%;
    padding: 0 30px;
    .cardRow {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
    }
    .cardColumn {
        margin-bottom: 20px;
    }
}
