@import "variables.scss";
.collectionForPeriodContainer {
    font-family: $secondary-font;
    color: $color-bone;
    background-color: $color-charcoal;
    min-height: 100%;
    padding: 0 30px;

    .cardRow {
        display: flex;
        justify-content: space-between;
    }
    .cardColumn {
        margin-bottom: 20px;
    }
    .detailText {
        margin: 18px 0 24px 0;
        font-size: 18px;
        @media only screen and (min-width: $small-media-query) {
            margin: 18px 0 24px 0;
            font-size: 20px;
        }
    }
}
