@import "variables.scss";

.createProfilePage {
    .mb-3 {
        font-family: $primary-font;
        width: 80%;
        height: 6vh;
        align-content: center;
        margin: auto;
        border-radius: 0;
        &.form-floating {
            label {
                padding: 0.65rem 0.75rem;
            }
        }
        .form-control {
            font-size: 3vh;
            border-radius: 0;
            height: 5vh;
            @media only screen and (min-width: $small-media-query) {
                font-size: 4vh;
                height: 6vh;
            }
            &:focus {
                border-color: transparent;
                box-shadow: unset;
            }
        }
    }
    h2 {
        color: $color-bone;
        font-family: $primary-font;
        font-variant: small-caps;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6vh;
        margin-bottom: 2vh;
    }
    .container {
        flex-direction: column;
        .row {
            width: 100%;
            margin-bottom: 1vh;
            .avatar {
                text-align: center;
                margin-bottom: 1vh;
                img {
                    border: 0.5vh solid transparent;
                    height: 9vh;
                    @media only screen and (min-width: $small-media-query) {
                        height: 13vh;
                    }
                }
                &.selected {
                    img {
                        border: 0.5vh solid $color-fucsia;
                    }
                }
            }
        }
    }
}
.buttonContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 4vh;
    margin-bottom: 4vh;
}
