@import "variables.scss";

.navBarStyle {
    background-color: transparent;
    font-family: $primary-font;
    font-size: 32px;

    .divider {
        color: $color-red;
        display: none;
        align-items: center;
        margin: 0 2px;
        @media only screen and (min-width: $small-media-query) {
            display: flex;
        }
    }
}

.navbar-light .navbar-toggler {
    border: 3px solid $color-red;
    background-color: $color-red;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 48px;
    color: $color-red;
    &.btn,
    &.btn-primary {
        border: none;
        font-size: 48px;
        background: transparent;
        outline: 0;
        text-align: left;
    }
}

.logo {
    width: 147px;
    height: 75px;
    margin-top: 15px;
    @media only screen and (min-width: $small-media-query) {
        width: 235px;
        height: 120px;
        margin-top: 15px;
    }
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .show > .nav-link {
    transform: translateY(-8px);
    color: $color-red;
    transition: transform 0.25s;
    outline: 0;
    border: none;
    box-shadow: none;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav.nav-link .nav-link.active {
    color: $color-red;
    transform: none;
    transition: none;
    opacity: 0.5;
    &.btn,
    &.btn-primary {
        border: none;
        outline: 0;
        text-align: center;
    }
}
@media screen and (min-width: $small-media-query) {
    .navbar-light .navbar-nav .nav-link {
        color: $color-red;
        font-size: 32px;
        &.btn,
        &.btn-primary {
            font-size: 32px;
        }
    }
}
@media screen and (min-width: $large-media-query) {
    .navBarStyle {
        background-color: transparent;
        font-family: $primary-font;
        font-size: 48px;
        .divider {
            color: $color-red;
            display: none;
            align-items: center;
            margin: 0 2px;
            @media only screen and (min-width: $small-media-query) {
                display: flex;
            }
        }
    }

    .navbar-light .navbar-nav .nav-link {
        color: $color-red;
        font-size: 48px;
        &.btn,
        &.btn-primary {
            font-size: 48px;
        }
    }
}
