@import "variables.scss";

.homePage {
    height: 100vh;
    width: 100%;
    background-image: url("MainPage.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-red;
    font-family: $primary-font;
    padding: 0 30px;
    .pageTitle {
        position: absolute;
        bottom: 5%;
    }
}
