@import "variables.scss";

.homeBody {
    height: 75vh;
    h1 {
        font-family: $primary-font;
        color: $color-fucsia;
    }

    .welcomeAnimation {
        margin: 5vh auto;
    }

    .buttonContainer {
        justify-content: space-evenly;
        margin-top: 15vh;

        &.last {
            margin-top: 8vh;
        }
    }
}
