@import "variables.scss";
html {
	height: -webkit-fill-available;
}
body {
	background-color: $color-charcoal;
	height: 100vh;
	/* mobile viewport bug fix */
	height: -webkit-fill-available;
}

#app {
	background-color: $color-charcoal;
}

button,
input[type="submit"],
input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.appContainer {
	width: 50vh;
	margin: 0 auto;
	border: 0.1vh solid $color-charcoal;
	box-shadow: 0 0 0.3vh 0.3vh black;
	height: 100vh;
	max-height: -webkit-fill-available;
	@media only screen and (min-width: $small-media-query) {
		width: 70vh;
	}
}
img {
	image-rendering: pixelated;
}
