@import "variables.scss";

.textContainer {
    margin-left: 2vh;
    margin-right: 2vh;
}
.textIntro {
    color: $color-charcoal;
    background-color: $color-bone;
    font-family: $primary-font;
    font-size: 3vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
    line-height: 4.5vh;

    padding: 2vh;
    text-transform: uppercase;

    @media only screen and (min-width: $small-media-query) {
        font-size: 4vh;
        line-height: 6vh;
    }
}
