@import "variables.scss";

.textContainer {
    margin-left: 2vh;
    margin-right: 2vh;
}
.textIntro {
    color: $color-charcoal;
    background-color: $color-bone;
    font-family: $primary-font;
    font-size: 4vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
    line-height: 5.5vh;

    padding: 2vh;
    text-transform: uppercase;
}
