@import "variables.scss";
html,
body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    background-color: $color-charcoal;
}
html {
    min-height: 100vh;
}
body {
    min-height: 100vh;
}
#app {
    min-height: 100%;
    padding: 0;
    background-color: $color-charcoal;
}
