@import "variables.scss";
html,
body {
    margin: 0px;
    padding: 0px;
    min-height: 100% !important;
    height: 100%;
    font-size: 16px;
}

#app {
    min-height: 100% !important;
    height: 100%;
    padding: 0;
    background-color: $color-charcoal;
}
// .layoutBody {
//     height: 100%;
//     margin: 0 20px;
// }
