@import "variables.scss";

.loginPage {
    height: 100vh;
    width: 100%;
    background-image: url("/MainPage.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-red;
    font-family: $primary-font;
    padding: 0 30px;
    .inputContainer {
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 90%;
        margin: 0;
        .specialInput {
            flex-grow: 2;
        }
        .mb-3 {
            font-family: $primary-font;
            font-size: 2.5vh;
            border-radius: 0;
            input {
                font-size: 2.5vh;
            }
            &.form-floating {
                label {
                    padding: 0.65rem 0.75rem;
                    color: $color-linen;
                }
                .form-control {
                    color: $color-linen;
                    font-size: 4vh;
                    border: none;
                    border-radius: 0;
                }
            }
            .form-control {
                font-size: 4vh;
                background-color: $color-red;
                width: 100%;
                &:focus {
                    border-color: transparent;
                }
            }
        }
        .inputFooter {
            color: $color-linen;
            font-size: 2.5vh;
            .redButton {
                margin-bottom: 2%;
                color: $color-linen;
                font-size: 3vh;
            }
            a {
                text-decoration: none;
                color: $color-linen;
                margin-left: 0.5vh;
                &:hover {
                    text-decoration: underline;
                    color: $color-red;
                }
            }
        }
    }
}

@media screen and (min-width: $small-media-query) {
    .loginPage {
        .inputContainer {
            height: 70%;
            position: static;
            bottom: unset;
            left: unset;
            width: unset;
            .mb-3 {
                .form-control {
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (min-width: $xlarge-media-query) {
    .loginPage {
        .inputContainer {
            .mb-3 {
                .form-control {
                    width: 60%;
                }
            }
        }
    }
}
