@import "variables.scss";

@keyframes startAnimation {
    from {
        height: 0;
    }
    to {
        height: 42vh;
    }
}

.mapImage {
    position: relative;
    img {
        object-fit: contain;
        width: 100%;
        height: auto;
    }
    .startAnimation {
        position: absolute;
        font-size: 7vh;
        margin: 0;
        top: 2vh;
        left: 6vh;
        font-family: $primary-font;
        writing-mode: vertical-rl;
        text-orientation: upright;
        margin-top: 1vh;
        font-weight: bolder;
        animation-name: startAnimation;
        animation-duration: 2s;
        animation-timing-function: steps(6);
        animation-iteration-count: infinite;
        overflow: hidden;
        height: 0vh;
    }
}

.museumMapPage {
    color: $color-charcoal;
    font-family: $primary-font;
    font-size: 4vh;
    text-transform: uppercase;

    .mapImage {
        image-rendering: pixelated;
        padding: 6vh;
        padding-top: 1vh;
        padding-bottom: 2vh;
        img {
            width: 100%;
        }
    }
}
