@import "variables.scss";
.modalDialogueContainer {
    .modal-content {
        background-color: $color-charcoal;
    }
    .modal-body {
        margin: 3vh;
        background-color: $color-charcoal;
        background-image: url("/lizTaylor.jpeg");
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 40vh;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;

        .areYouSureText {
            color: $color-green;
            font-family: $primary-font;
            font-size: 40px;
            margin-bottom: 3vh;
            text-shadow: 0.5px 0.5px 0.5px $color-charcoal;
        }
        .yesImSure {
            margin-top: 3vh;
            width: 90%;
            font-size: 10px;
        }
        .no {
            width: 90%;
        }
    }
}

@media screen and (min-width: $tiny-media-query) {
    .modalDialogueContainer {
        .modal-body {
            margin: 5vh;
            height: 50vh;
            .areYouSureText {
                font-size: 60px;
            }
            .yesImSure {
                margin-top: 3vh;
                width: 80%;
            }
            .no {
                width: 80%;
            }
        }
    }
}

@media screen and (min-width: $small-media-query) {
    .modalDialogueContainer {
        .modal-dialog {
            max-width: 80%;
        }
        .modal-body {
            height: 80vh;
            .yesImSure {
                width: 70%;
            }
            .no {
                width: 70%;
            }
        }
    }
}

@media screen and (min-width: $large-media-query) {
    .modalDialogueContainer {
        .modal-dialog {
            max-width: 800px;
        }
        .modal-body {
            .yesImSure {
                width: 60%;
            }
            .no {
                width: 60%;
            }
        }
    }
}
