@import "variables.scss";

.modalInfoContainer {
    .modal-content {
        background-color: $color-charcoal;
        border-radius: 0;
        margin: 10px;
    }
    .imageModalContainer {
        img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }
    }

    .modal-footer {
        border-top: transparent;
        padding: 10px;
        button {
            border: none;
            background-color: transparent;
        }
    }
    .courtesyText {
        color: $color-bone;
        font-family: $secondary-font;
        font-size: 12px;
        text-align: left;
        width: 100%;
    }
}
