@import "variables.scss";

.modalInfoContainer {
    // font-family: $primary-font;
    // text-transform: uppercase;

    .modal-dialog {
        // max-width: 50vh;
        // max-height: 70vh;
        // margin: 1.75rem auto;
        .modal-content {
            background-color: $color-charcoal;
            border-radius: 0;
        }
    }
    .modal-header {
        border-bottom: transparent;
    }
    .imageModalContainer {
        img {
            width: 100%;
        }
    }
    .modal-footer {
        border-top: transparent;
        margin-top: -2vh;
    }
    h7 {
        padding-left: 1vh;
        padding-bottom: 0.5vh;
        font-family: $secondary-font;
        color: $color-bone;
    }
}
