@import "variables.scss";
.modalDialogueContainer {
    .modal-content {
        background-color: $color-charcoal;
    }
    .modal-body {
        margin: 5vh;
        background-color: $color-charcoal;
        background-image: url("lizTaylor.jpeg");
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;

        .areYouSureText {
            color: $color-green;
            font-family: $primary-font;
            font-size: 60px;
            margin-bottom: 3vh;
            text-shadow: 0.5px 0.5px 0.5px $color-charcoal;
        }
        .yesImSure {
            margin-top: 3vh;
            width: 60%;
        }
        .no {
            width: 60%;
        }
    }
}

// .modalDialogueContainer {
//     font-family: $primary-font;

// .modal-dialog {
//     max-width: 200px;
//     max-height: 200px;

//     .modal-content {
//         background-color: $color-charcoal;
//         color: $color-bone;
//         border-radius: 0;
//         font-size: 5vh;
//         line-height: 5vh;
//         text-align: justify;
//         padding: 1vh;
//     }
// }
// .modal-header {
//     border-bottom: transparent;
// }
// .imageModalContainer {
//     img {
//         width: 100%;
//     }
// }
// .modal-footer {
//     border-top: transparent;
//     margin-top: -2vh;
//     .yesImSure {
//         margin-left: 2vh;
//     }
// }
// }
