@import "variables.scss";

.infoArtWorkContainer {
    background-color: $color-charcoal;
    padding-bottom: 7%;
    .infoArtworkBody {
        width: 60%;
        height: 100%;
        background-color: $color-green;
        margin-left: 4%;
        margin-top: 20px;
        .text {
            font-family: $primary-font;
            color: $color-bone;
            padding: 10%;
            line-height: 1;
            height: 35%;
            padding-top: 0;
            margin-right: 0;

            p {
                margin-bottom: 7%;
                font-size: 18px;
            }
            a {
                text-decoration: none;
                color: $color-bone;
                text-decoration: underline;
                &:hover {
                    color: $color-linen;
                    text-decoration: underline;
                }
                &:visited,
                &:active {
                    text-decoration: none;
                }
            }
        }
        .artwork {
            position: static;
            &.portrait {
                margin: 15%;
                margin-left: 6%;
                margin-bottom: 1%;
                height: auto;
                width: auto;
            }
            &.landscape {
                height: 200%;
                width: 120%;
                margin: 20px;
                margin-left: 25px;
                margin-bottom: 20px;
                img {
                    max-width: fit-content;
                    margin: auto;
                }
            }
            img {
                &:hover {
                    cursor: pointer;
                }
                margin: 5%;
                height: 100%;
                width: 100%;
            }
        }
    }
    .backButton {
        position: fixed;
        right: 25px;
        bottom: 15px;
        .body {
            .text {
                margin: 0;
            }
        }
    }
}

@media only screen and (min-width: $small-media-query) {
    .infoArtWorkContainer {
        background-color: $color-charcoal;
        padding-bottom: 0%;

        .infoArtworkBody {
            width: 50%;
            height: 50%;
            background-color: $color-green;
            margin-left: 3%;
            margin-top: 50px;
            position: relative;

            .text {
                font-family: $primary-font;
                color: $color-bone;
                padding: 10%;
                line-height: 1;
                height: auto;
                padding-top: 7%;
                margin-right: 4%;
                p {
                    margin-bottom: 7%;
                    font-size: 30px;
                }
            }
            .artwork {
                position: absolute;
                top: 5%;
                height: 90%;
                width: 100%;
                left: 70%;
                display: flex;
                justify-items: center;
                display: flex;
                justify-content: left;

                &.portrait {
                    margin: 0;
                    left: 90%;
                    top: 5%;
                    height: 90%;
                    width: 100%;
                    img {
                        margin: 0%;
                        height: 100%;
                        width: auto;
                    }
                }

                &.landscape {
                    height: 90%;
                    width: 100%;
                    margin: 0;
                    left: 85%;
                    top: 5%;
                    img {
                        margin: 0%;
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
        .backButton {
            position: absolute;
            right: 50px;
            bottom: 30px;
            .body {
                .text {
                    margin: 0 20px;
                }
            }
        }
    }
}
