@import 'variables.scss';

.pixel-button {
    height: 88px;
    display: inline-block;
    margin:0 8px;
}

.body {
    height: 88px;
    background-color:$color-cyan;
    position: relative;  
    box-shadow:4px 4px 0 0px $color-fucsia;
    
    .text{
        text-align: center;
        vertical-align: middle;
        font-size: 70px;
        font-family: Pixeboy;
        line-height: 88px;
        color: #222323;
    }
    &::after{
        position: absolute;
        right: -4px;
        top: 4px;
        width: 4px;
        height: 80px;
        content: "";
        background-color:$color-cyan; 
        box-shadow:4px 4px 0 0px $color-fucsia  ;
    }


    &::before{
        position: absolute;
        left: -4px;
        top: 4px;
        width: 4px;
        height: 80px;
        content: "";
        background-color:$color-cyan;
    }

    &:active{
        box-shadow:none;
        color:$color-fucsia; 
        transform: translate(4px, 4px);
        &::after{
          box-shadow:none ;
        }
        .text{
            color:$color-fucsia;
        }
    }
}


.linkStyle{
    text-decoration: none;
}



