@import "variables.scss";

.outer {
    background-color: $color-charcoal;
    display: flex;
    align-items: center;
    height: 54px;
    width: 800px;
    border: 4px solid $color-fucsia;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;

    // .text {
    //     text-align: center;
    //     vertical-align: middle;
    //     font-size: 40px;
    //     font-family: Pixeboy;
    //     line-height: 52px;
    //     color: #222323;
    // }
    &::after {
        position: absolute;
        right: -8px;
        top: 2px;
        width: 4px;
        height: 42px;
        content: "";
        background-color: $color-fucsia;
    }
    &::before {
        position: absolute;
        left: -8px;
        top: 2px;
        width: 4px;
        height: 42px;
        content: "";
        background-color: $color-fucsia;
    }

    .inner {
        background-color: $color-cyan;
        height: 46px;
        width: 250px;
        transition: width 100ms ease-out;
    }
}
.progressBarStyle {
    color: $color-cyan;
    font-size: 50px;

    h2 {
        width: 800px;
        margin: 0 auto;
    }
}
