@import "variables.scss";

.outer {
    background-color: $color-charcoal;
    display: flex;
    align-items: center;
    height: 5.4vh;
    width: 80%;
    border: 0.4vh solid $color-red;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;

    &::after {
        position: absolute;
        right: -0.8vh;
        top: 0.2vh;
        width: 0.4vh;
        height: 4.2vh;
        content: "";
        background-color: $color-red;
    }
    &::before {
        position: absolute;
        left: -0.8vh;
        top: 0.2vh;
        width: 0.4vh;
        height: 4.2vh;
        content: "";
        background-color: $color-red;
    }

    .inner {
        background-color: $color-green;
        height: 4.6vh;
        width: 25vh;
        transition: width 100ms ease-out;
    }
}
.progressBarStyle {
    color: $color-green;
    font-size: 3vh;

    h2 {
        width: 80%;
        margin: 0 auto;
        font-size: 2vh;
    }
}
