@import "variables.scss";

@keyframes wrong {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-1vh);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(1vh);
    }
    100% {
        transform: translateX(0);
    }
}

.questionBody {
    .headerContainer {
        display: flex;
        justify-content: space-between;
        padding: 2vh;
        align-items: center;
    }
    .card {
        background-color: $color-charcoal;
        font-family: $primary-font;
        border: 0;
    }

    .cardTitle {
        text-align: center;
        vertical-align: middle;
        font-size: 6vh;
        color: $color-bone;
    }
    .imageContainer {
        height: 34vh;
        margin-bottom: 2vh;
        max-width: 80%;
        margin: auto;
        @media only screen and (min-width: $small-media-query) {
            height: 40vh;
        }
    }

    .imageQuestion {
        display: block;
        object-fit: contain;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        max-height: 40vh;
    }

    .form-check-input {
        background: transparent;
        border-radius: 0;
        border: 4px solid $color-fucsia;
        clip-path: polygon(
            0 15%,
            15% 15%,
            15% 0,
            85% 0,
            85% 15%,
            100% 15%,
            100% 85%,
            85% 85%,
            85% 100%,
            15% 100%,
            15% 85%,
            0% 85%,
            0% 15%
        );
    }

    .cardBody,
    .form-check-input {
        text-align: left;
        vertical-align: middle;
    }

    .answersBody {
        font-size: 3vh;
        margin-left: 6vh;
        margin-top: -2vh;
        color: $color-bone;
        margin-bottom: 3vh;
        max-width: 80%;
        .form-check-label {
            text-transform: capitalize;
            &.incorrect {
                animation: wrong 0.1s 3;
            }
        }
    }

    .form-check-input:checked {
        border-color: $color-fucsia;
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8 '%3e%3crect x='2' y='2' width='4' height='4' fill='%23fff'/%3e%3c/svg%3e");
    }

    .card-footer {
        padding: 0;
        background-color: $color-charcoal;
        border-radius: 0;
        border-top: 0;
        text-align: center;
        vertical-align: middle;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .questionBody,
    .proBar {
        text-align: center;
        vertical-align: middle;
        color: $color-bone;
        font-size: 6vh;
        width: 100%;
    }
    .card-body {
        padding: 0;
        margin-bottom: 1vh;
    }
    .footer {
        display: flex;
        justify-content: space-between;

        align-items: center;
        width: 80%;
        margin: 0 auto;
    }
}
