@import "variables.scss";

@keyframes wrong {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-1vh);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(1vh);
    }
    100% {
        transform: translateX(0);
    }
}

.imageAndProcessCounter {
    grid-area: item-a;
}
.questionIndeed {
    grid-area: item-b;
}
.answers {
    grid-area: item-c;
}
.quitButton {
    grid-area: item-d;
}
.favoriteButton {
    grid-area: item-e;
}
.moreInfoLink {
    grid-area: item-f;
}
.nextButton {
    grid-area: item-g;
}

.questionPageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 25% 10% 15%;
    //cada linea es un row
    grid-template-areas:
        "item-a item-a item-a item-a item-a item-a item-a item-a"
        "item-b item-b item-b item-c item-c item-c item-c item-c"
        "item-e item-e item-f item-f item-f item-f item-f item-f"
        "item-d item-d item-d item-d item-g item-g item-g item-g";
}

.questionPageContainer {
    background-color: $color-linen;
    height: 100vh;
    width: auto;
    font-family: $primary-font;

    .imageAndProcessCounter {
        box-sizing: border-box;
        border-right: none;
        border-bottom: solid $color-charcoal 10px;
        color: $color-green;
        text-align: center;
        h2 {
            font-size: 40px;
            height: 13%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .imageContainer {
            margin: 0 auto;
            width: 90%;
            height: 80%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
                object-fit: cover;
                &.portrait {
                    width: auto;
                    height: 100%;
                    margin: 0 auto;
                }

                &.landscape {
                    width: 100%;
                    height: auto;
                    max-height: 100%;
                    max-width: fit-content;
                    margin: auto;
                }
            }
        }
    }
    .questionIndeed {
        box-sizing: border-box;
        border-bottom: solid $color-charcoal 10px;
        background-color: $color-green;
        color: $color-linen;
        font-size: 32px;
        text-align: left;
        padding-left: 10px;
        padding-top: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            line-height: 26pt;
            margin-bottom: 0;
        }
    }
    .form-check-input {
        text-align: left;
        vertical-align: middle;
        background: $color-green;
        border: 1px solid $color-green;
        border-radius: 20px;
    }
    .answers {
        box-sizing: border-box;
        border-bottom: solid $color-charcoal 10px;
        background-color: $color-linen;
        color: $color-charcoal;
        font-size: 20px;
        margin-top: 8px;
        padding-left: 8px;
        overflow: auto;

        .form-check {
            margin-bottom: 20px;
        }

        .form-check-label {
            width: 90%;
            &.incorrect {
                animation: wrong 0.1s 3;
            }
        }
        .form-check-input:checked {
            border-color: $color-green;
            background-color: $color-green;
        }
    }

    .quitButton {
        border: none;
        box-sizing: border-box;
        border-right: solid $color-charcoal 10px;
        border-top: solid $color-charcoal 10px;
        background-color: $color-red;
        color: $color-green;
        font-size: 55px;
        padding-top: 2px;
        outline: 0;
        text-align: left;
        display: flex;
        align-items: start;
        &:hover {
            text-decoration: line-through;
        }
    }

    .favoriteButton {
        outline: 0;
        border: none;
        box-sizing: border-box;
        border-right: solid $color-charcoal 10px;
        background-color: $color-linen;
        color: $color-green;
        font-size: 40px;
        padding-left: 5%;
        padding-top: 0;
        text-align: left;
        transition: color 0.2s;
        .desktopFav {
            display: none;
        }
        .mobileFav {
            display: unset;
        }
        &.remove {
            color: $color-red;
        }
        p {
            line-height: 14pt;
        }
    }

    .moreInfoLink {
        box-sizing: border-box;
        border: none;
        border-right: none;
        background-color: $color-linen;
        color: $color-red;
        outline: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: none;

        .moreInfo {
            font-size: 40px;
            text-align: left;
            margin-left: 0;
            margin-bottom: 0;
            line-height: 24pt;
            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
            }
        }
        .dontBeAfraid {
            line-height: 15pt;
            font-size: 18px;
            text-align: left;
            margin-left: 0;
            margin-bottom: 5px;
        }
    }
    .nextButton {
        background-color: $color-linen;
        color: $color-charcoal;
        font-size: 60px;
        padding-left: 0;
        padding-top: 0;
        outline: 0;
        border: none;
        border-top: solid $color-charcoal 10px;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 6px;
        .fontIcon {
            color: $color-charcoal;
            height: 90px;
            transition: transform 0.2s;
            margin-bottom: 2px;
            margin-left: 4px;
        }
        &:hover {
            .fontIcon {
                transform: translate3d(6px, 0, 0);
            }
        }
    }
}

@media screen and (min-width: $tiny-media-query) {
    .questionPageContainer {
        .questionIndeed {
            font-size: 36px;
            p {
                line-height: 36pt;
            }
        }
        .answers {
            font-size: 20px;
        }
    }
}

@media screen and (min-width: $small-media-query) {
    .questionPageContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 60% 25% 15%;
        //cada linea es un row
        grid-template-areas:
            "item-a item-a item-a item-a item-a item-a item-a item-a"
            "item-b item-b item-b item-c item-c item-c item-c item-c"
            "item-d item-d item-e item-e item-f item-f item-g item-g";

        .imageAndProcessCounter {
            h2 {
                font-size: 40px;
            }
        }
        .nextButton {
            border-top: none;
        }
        .quitButton {
            border-top: none;
        }
        .moreInfoLink {
            border-right: solid $color-charcoal 10px;
        }
    }
}

@media screen and (min-width: $large-media-query) {
    .questionPageContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 25% 25% 25% 25%;
        //cada linea es un row
        grid-template-areas:
            "item-a item-a item-a item-a item-b item-b"
            "item-a item-a item-a item-a item-c item-c"
            "item-a item-a item-a item-a item-c item-c"
            "item-d item-e item-f item-f item-g item-g";
    }

    .questionPageContainer {
        background-color: $color-linen;
        width: auto;
        font-family: $primary-font;

        .imageAndProcessCounter {
            box-sizing: border-box;
            border-right: solid $color-charcoal 20px;
            border-bottom: solid $color-charcoal 15px;
            color: $color-green;
            text-align: center;
            h2 {
                font-size: 50px;
                height: 13%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .imageContainer {
                margin: 0 auto;
                width: 90%;
                height: 80%;
                img {
                    object-fit: cover;
                    &.portrait {
                        width: auto;
                        height: 100%;
                        margin: 0 auto;
                    }

                    &.landscape {
                        width: 100%;
                        height: auto;
                        max-height: 100%;
                        max-width: fit-content;
                        margin: auto;
                    }
                }
            }
        }
        .questionIndeed {
            box-sizing: border-box;
            border-bottom: solid $color-charcoal 15px;
            background-color: $color-green;
            color: $color-linen;
            font-size: 45px;
            text-align: left;
            padding-left: 2%;
            padding-top: 3%;
            p {
                line-height: 40pt;
            }
        }
        .form-check-input {
            text-align: left;
            vertical-align: middle;
            background: $color-green;
            border: 1px solid $color-green;
            border-radius: 20px;
        }
        .answers {
            box-sizing: border-box;
            border-bottom: solid $color-charcoal 15px;
            background-color: $color-linen;
            color: $color-charcoal;
            font-size: 26px;
            margin-top: 25px;
            padding-left: 20px;
            overflow: auto;

            .form-check {
                margin-bottom: 20px;
            }

            .form-check-label {
                width: 90%;
                &.incorrect {
                    animation: wrong 0.1s 3;
                }
            }
            .form-check-input:checked {
                border-color: $color-green;
                background-color: $color-green;
            }
        }

        .quitButton {
            border: none;
            box-sizing: border-box;
            border-right: solid $color-charcoal 20px;
            border-top: none;
            background-color: $color-red;
            color: $color-green;
            font-size: 80px;
            padding-top: 5%;
            outline: 0;
            align-items: center;
            &:hover {
                text-decoration: line-through;
            }
        }

        .favoriteButton {
            outline: 0;
            border: none;
            box-sizing: border-box;
            border-right: solid $color-charcoal 20px;
            background-color: $color-linen;
            color: $color-green;
            font-size: 35px;
            padding-left: 5%;
            padding-top: 7%;
            text-align: left;
            transition: color 0.2s;
            .desktopFav {
                display: unset;
            }
            .mobileFav {
                display: none;
            }
            &.remove {
                color: $color-red;
            }
            p {
                line-height: 20pt;
            }
        }

        .moreInfoLink {
            box-sizing: border-box;
            border: none;
            border-right: solid $color-charcoal 20px;
            background-color: $color-linen;
            color: $color-red;
            outline: 0;

            .moreInfo {
                font-size: 50px;
                text-align: left;
                margin-left: 10px;
                margin-bottom: 2px;
                line-height: unset;
                &:hover,
                &:focus,
                &:active {
                    text-decoration: underline;
                }
            }
            .dontBeAfraid {
                line-height: 1pt;
                font-size: 20px;
                text-align: left;
                margin-left: 12px;
                margin-bottom: 0;
            }
        }
        .nextButton {
            background-color: $color-linen;
            border-top: none;
            color: $color-charcoal;
            font-size: 100px;
            padding-left: 40%;
            padding-top: 5%;
            outline: 0;
            border: none;
            padding-right: 22px;
            .fontIcon {
                color: $color-charcoal;
                height: 90px;
                transition: transform 0.2s;
                margin-bottom: 2px;
            }
            &:hover {
                .fontIcon {
                    transform: translate3d(18px, 0, 0);
                }
            }
        }
    }
}

@media screen and (min-width: $xlarge-media-query) {
    .questionPageContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 25% 25% 25% 25%;
        //cada linea es un row
        grid-template-areas:
            "item-a item-a item-a item-a item-b item-b"
            "item-a item-a item-a item-a item-c item-c"
            "item-a item-a item-a item-a item-c item-c"
            "item-d item-e item-f item-f item-g item-g";
    }

    .questionPageContainer {
        background-color: $color-linen;
        width: auto;
        font-family: $primary-font;

        .imageAndProcessCounter {
            box-sizing: border-box;
            border-right: solid $color-charcoal 20px;
            border-bottom: solid $color-charcoal 15px;
            color: $color-green;
            text-align: center;
            h2 {
                font-size: 50px;
                height: 13%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .imageContainer {
                margin: 0 auto;
                width: 90%;
                height: 80%;
                img {
                    object-fit: cover;

                    &.portrait {
                        width: auto;
                        height: 100%;
                        margin: 0 auto;
                    }

                    &.landscape {
                        width: 100%;
                        height: auto;
                        max-height: 100%;
                        max-width: fit-content;
                        margin: auto;
                    }
                }
            }
        }
        .questionIndeed {
            box-sizing: border-box;
            border-bottom: solid $color-charcoal 15px;
            background-color: $color-green;
            color: $color-linen;
            font-size: 55px;
            text-align: left;
            padding-left: 2%;
            padding-top: 3%;
            p {
                line-height: 50pt;
            }
        }
        .form-check-input {
            text-align: left;
            vertical-align: middle;
            background: $color-green;
            border: 1px solid $color-green;
            border-radius: 20px;
        }
        .answers {
            box-sizing: border-box;
            border-bottom: solid $color-charcoal 15px;
            background-color: $color-linen;
            color: $color-charcoal;
            font-size: 36px;
            margin-top: 35px;
            padding-left: 20px;
            overflow: auto;

            .form-check {
                margin-bottom: 30px;
            }

            .form-check-label {
                width: 90%;
                &.incorrect {
                    animation: wrong 0.1s 3;
                }
            }
            .form-check-input:checked {
                border-color: $color-green;
                background-color: $color-green;
            }
        }

        .quitButton {
            border: none;
            box-sizing: border-box;
            border-right: solid $color-charcoal 20px;
            border-top: none;
            background-color: $color-red;
            color: $color-green;
            font-size: 80px;
            padding-top: 5%;
            outline: 0;
            align-items: center;
            &:hover {
                text-decoration: line-through;
            }
        }

        .favoriteButton {
            outline: 0;
            border: none;
            box-sizing: border-box;
            border-right: solid $color-charcoal 20px;
            background-color: $color-linen;
            color: $color-green;
            font-size: 45px;
            padding-left: 5%;
            padding-top: 7%;
            text-align: left;
            transition: color 0.2s;
            .desktopFav {
                display: unset;
            }
            .mobileFav {
                display: none;
            }
            &.remove {
                color: $color-red;
            }
            p {
                line-height: 28pt;
            }
        }

        .moreInfoLink {
            box-sizing: border-box;
            border: none;
            border-right: solid $color-charcoal 20px;
            background-color: $color-linen;
            color: $color-red;
            outline: 0;

            .moreInfo {
                font-size: 80px;
                text-align: left;
                margin-left: 10px;
                margin-bottom: 2px;
                line-height: unset;
                &:hover,
                &:focus,
                &:active {
                    text-decoration: underline;
                }
            }
            .dontBeAfraid {
                line-height: 1pt;
                font-size: 30px;
                text-align: left;
                margin-left: 12px;
                margin-bottom: 0;
            }
        }
        .nextButton {
            background-color: $color-linen;
            border-top: none;
            color: $color-charcoal;
            font-size: 100px;
            padding-left: 40%;
            padding-top: 5%;
            outline: 0;
            border: none;
            padding-right: 22px;
            .fontIcon {
                color: $color-charcoal;
                height: 90px;
                transition: transform 0.2s;
                margin-bottom: 2px;
            }
            &:hover {
                .fontIcon {
                    transform: translate3d(18px, 0, 0);
                }
            }
        }
    }
}
