@import "variables.scss";

.signInPage {
    display: flex;
    flex-direction: column;
    height: 80vh;
    .specialInput {
        flex-grow: 1;
    }
    .mb-3 {
        font-family: $primary-font;
        font-size: 2.5vh;
        width: 50vh;
        align-content: center;
        margin: auto;
        input {
            font-size: 4vh;
        }
        &.form-floating {
            label {
                padding: 0.65rem 0.75rem;
            }
        }
    }
    h2 {
        color: $color-bone;
        font-family: $primary-font;
        font-variant: small-caps;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 8vh;
    }
}
.buttonContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 4vh;
    margin-top: auto;
    height: 5vh;
}
