@import "variables.scss";

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: $primary-font;
    text-transform: uppercase;
    color: $color-red;
    text-shadow: 0.2vh 0.2vh $color-green;
    font-size: 9vh;
    text-align: center;
    line-height: 7vh;
}
