@import "variables.scss";

.inputContainer {
    font-family: $primary-font;
    .leftPanel {
        padding-top: 60px;
        padding-bottom: 15px;
        .userNameSquare {
            margin-top: 30px;
            width: 70%;
            height: 40%;
            background-color: $color-red;
            box-shadow: (3px 3px $color-bone);
            text-align: left;
            .nameProfile {
                color: $color-bone;
                font-family: $primary-font;
                font-size: 50px;
                margin-left: 20px;
                margin-bottom: -10px;
            }
            .scorePlayer {
                color: $color-bone;
                font-family: $primary-font;
                font-size: 40px;
                margin-left: 20px;
            }
        }
        .greenSquare {
            height: 10%;
            width: 71%;
            background-color: $color-green;
            margin-top: 5vh;
        }
    }
    .panelsContainer {
        display: flex;
        flex-direction: row;
        .leftPanel {
            width: 50%;
        }
        .rightPanel {
            width: 60%;
            p {
                color: $color-bone;
                font-size: 50px;
                text-align: center;
            }
        }
    }
    .cardRow {
        max-height: 100%;
        .cardColumn {
            position: relative;
            padding-top: 33.3%;
            .cardImage {
                position: absolute;
                top: 0;
                left: 0;
                width: 90%;
                height: 90%;
                object-fit: cover;
            }
        }
    }
    // .favoriteData {
    //     color: $color-bone;
    //     font-family: $primary-font;
    //     font-size: 4vh;
    // }

    // .carouselContainer {
    //     .favoriteCarousel {
    //         height: 100%;
    //         width: 100%;
    //         p {
    //             color: $color-bone;
    //             font-size: 50px;
    //         }
    //         .carouselImage {
    //             height: 100%;
    //             width: auto;
    //         }
    //     }
    // }
}

.profileFooter {
    .closeButton {
    }
    .playButton {
    }
}

//  .nameProfile {
//         color: $color-bone;
//         font-family: $primary-font;
//         font-size: 7vh;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }

//     .scoreplayer {
//         color: $color-red;
//         font-family: $primary-font;
//         font-size: 8vh;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         margin-bottom: 3vh;
//     }
