@import "variables.scss";

.inputContainer {
    font-family: $primary-font;
    background-color: $color-charcoal;
    .leftPanel {
        padding-top: 0;
        padding-bottom: 15px;
        padding-left: 5%;
        height: 380px;
        .userNameSquare {
            margin-top: 10px;
            width: 70%;
            height: 200px;
            background-color: $color-red;
            box-shadow: (3px 3px $color-bone);
            text-align: left;
            .nameProfile {
                color: $color-bone;
                font-family: $primary-font;
                font-size: 50px;
                margin-left: 20px;
                margin-bottom: -10px;
            }
            .scorePlayer {
                color: $color-bone;
                font-family: $primary-font;
                font-size: 40px;
                margin-left: 20px;
            }
        }
        .greenSquare {
            height: 70px;
            width: 71%;
            background-color: $color-green;
            margin-top: 5vh;
        }
    }
    .panelsContainer {
        display: flex;
        flex-direction: column;
        .leftPanel {
            width: 100%;
        }
        .rightPanel {
            width: 100%;
            .favoritesTitle {
                color: $color-bone;
                font-size: 50px;
                text-align: center;
            }
        }
    }
    .cardRow {
        max-height: 100%;
        margin: 0;
        .cardColumn {
            position: relative;
            padding-top: 100%;
            .cardImage {
                position: absolute;
                top: 0;
                right: 5%;
                width: 90%;
                height: 90%;
                object-fit: cover;
                overflow: hidden;
                border: none;
                padding: 0;

                .landscape {
                    height: 100%;
                    width: auto;
                }

                .portrait {
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: $small-media-query) {
    .inputContainer {
        .leftPanel {
            padding-top: 60px;
            padding-bottom: 15px;
            padding-left: 0;
            height: auto;
        }
        .panelsContainer {
            flex-direction: row;
            .leftPanel {
                width: 50%;
            }
            .rightPanel {
                width: 60%;
            }
        }
        .cardRow {
            max-height: 100%;
            margin: 0;
            .cardColumn {
                position: relative;
                padding-top: 33.3%;
                .cardImage {
                    top: 0;
                    right: 0;
                    width: 90%;
                    height: 90%;
                    object-fit: cover;
                }
            }
        }
    }
}
