@import "variables.scss";

@keyframes starAnimation {
    from {
        transform: scale3d(1, 1, 1);
    }
    to {
        transform: scale3d(0, 1, 1);
    }
}

.userProfileContainer {
    .pointsStar {
        filter: drop-shadow(0.6vh 0.4vh 0 $color-bone);
        display: flex;
        margin: auto;
        animation: starAnimation 0.7s infinite alternate;
        width: 50%;
    }
    .nameProfile {
        color: $color-bone;
        font-family: $primary-font;
        font-size: 7vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .avatarProfile {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 7vh;
        img {
            width: 15vh;
            height: auto;
        }
    }
    .scoreplayer {
        color: $color-fucsia;
        font-family: $primary-font;
        font-size: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3vh;
    }
}
