$color-charcoal: #140c14;
$color-bone: #f6d8d8;
$color-red: #ed4e3e;
$color-green: #699691;
$color-linen: #f0eeea;

$primary-font: "Staatliches", cursive;
$secondary-font: "Raleway", sans-serif;

$tiny-media-query: "430px";
$small-media-query: "768px";
$large-media-query: "960px";
