$color-charcoal: #140c14;
$color-bone: #f6d8d8;
$color-red: #ed4e3e;
$color-green: #699691;

$primary-font: "Staatliches", cursive;
$secondary-font: "Raleway", sans-serif;

$small-media-query: "600px";
